div,p,header,h1,select,table{
    text-align: center;
}

select,td{
    border:solid;
    background-color: lightgrey;
}

/*------------Tableau----------------*/
table{
    border:solid;
    margin:auto;
}
thead{
    background-color:lightskyblue;
}

/*----------Bouton-------------*/
form{
    text-align: center;
    margin-top:10px;
}
#filtre{
    color:red;
}
#connect{
    text-align: left;
}